<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharedComponentsLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharedComponentsLibrary.Properties.Settings>
            <setting name="ExternalScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EndOfMatchSound" serializeAs="String">
                <value />
            </setting>
            <setting name="WarningSound" serializeAs="String">
                <value />
            </setting>
            <setting name="Tatami" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsAutoLoadNextMatchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNextMatchShownOnExternalBoard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-GB</value>
            </setting>
        </SharedComponentsLibrary.Properties.Settings>
    </userSettings>
</configuration>